body{

    background-color: #652626;
}

.height{

    height: 100vh;
}

.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #444444;

}

.form span{

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    /* box-shadow: none; */
    border-color: rgba(0, 0, 0, 0.3);
    
}

.fa-search:focus{

    /* box-shadow: none; */
    border-color: rgba(0, 0, 0, 0.3);
    
}

.btnlargo {
    padding: 14px 100px 14px  100px;
}

.form-control{
    border-color: #000000;
}